<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		addrulepath="/administrator/components/com_questionsanswers/models/rules"
		addfieldpath="/administrator/components/com_questionsanswers/models/fields"
		name="global_config"
		label="COM_QUESTIONSANSWERS_CONFIG_GLOBAL_LABEL"
		description="COM_QUESTIONSANSWERS_CONFIG_GLOBAL_DESC">
		<field
			name="check_in"
			type="list"
			default="0"
			label="COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_DESC">
			<option
				value="-5 hours">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_ONE</option>
			<option
				value="-12 hours">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_TWO</option>
			<option
				value="-1 day">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_THREE</option>
			<option
				value="-2 day">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_FOUR</option>
			<option
				value="-1 week">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_FIVE</option>
			<option
				value="0">COM_QUESTIONSANSWERS_CONFIG_CHECK_TIMER_OPTION_SIX</option>
		</field>
		<field type="spacer" name="spacerAuthor" hr="true" />
		<field
			name="save_history"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="history_limit"
			type="text"
			filter="integer"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			default="10"
		/>
		<field type="spacer" name="spacerHistory" hr="true" />
		<field name="autorTitle"
			type="spacer"
			label="COM_QUESTIONSANSWERS_CONFIG_AUTHOR"
		/>
		<field name="autorName"
			type="text"
			label="COM_QUESTIONSANSWERS_CONFIG_AUTHOR_NAME_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_AUTHOR_NAME_DESC"
			size="60"
			default="Llewellyn van der Merwe"
			readonly="true"
			class="readonly"
		/>
		<field name="autorEmail"
			type="email"
			label="COM_QUESTIONSANSWERS_CONFIG_AUTHOR_EMAIL_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_AUTHOR_EMAIL_DESC"
			size="60"
			default="joomla@vdm.io"
			readonly="true"
			class="readonly"
		/>
	</fieldset>
	<fieldset
		name="uikit_config"
		label="COM_QUESTIONSANSWERS_CONFIG_UIKIT_LABEL"
		description="COM_QUESTIONSANSWERS_CONFIG_UIKIT_DESC">
		<field name="uikit_load"
			type="radio"
			label="COM_QUESTIONSANSWERS_CONFIG_UIKIT_LOAD_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_UIKIT_LOAD_DESC"
			class="btn-group btn-group-yesno"
			default="">
			<!-- Option Set. -->
			<option value="">
				COM_QUESTIONSANSWERS_CONFIG_AUTO_LOAD</option>"
			<option value="1">
				COM_QUESTIONSANSWERS_CONFIG_FORCE_LOAD</option>"
			<option value="3">
				COM_QUESTIONSANSWERS_CONFIG_ONLY_EXTRA</option>"
			<option value="2">
				COM_QUESTIONSANSWERS_CONFIG_DONT_LOAD</option>"
		</field>
		<field name="uikit_min"
			type="radio"
			label="COM_QUESTIONSANSWERS_CONFIG_UIKIT_MIN_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_UIKIT_MIN_DESC"
			class="btn-group btn-group-yesno"
			default="">
			<!-- Option Set. -->
			<option value="">
				COM_QUESTIONSANSWERS_CONFIG_NO</option>"
			<option value=".min">
				COM_QUESTIONSANSWERS_CONFIG_YES</option>"
		</field>
		<field name="uikit_style"
			type="radio"
			label="COM_QUESTIONSANSWERS_CONFIG_UIKIT_STYLE_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_UIKIT_STYLE_DESC"
			class="btn-group btn-group-yesno"
			default="">
			<!-- Option Set. -->
			<option value="">
				COM_QUESTIONSANSWERS_CONFIG_FLAT_LOAD</option>"
			<option value=".almost-flat">
				COM_QUESTIONSANSWERS_CONFIG_ALMOST_FLAT_LOAD</option>"
			<option value=".gradient">
				COM_QUESTIONSANSWERS_CONFIG_GRADIANT_LOAD</option>"
		</field>
	</fieldset>
	<fieldset
		name="encryption_config"
		label="COM_QUESTIONSANSWERS_CONFIG_ENCRYPTION_LABEL"
		description="COM_QUESTIONSANSWERS_CONFIG_ENCRYPTION_DESC">
		<field type="note" name="basic_key_note" class="alert alert-info" label="COM_QUESTIONSANSWERS_CONFIG_BASIC_KEY_NOTE_LABEL" description="COM_QUESTIONSANSWERS_CONFIG_BASIC_KEY_NOTE_DESC"  />
		<field name="basic_key"
			type="text"
			label="COM_QUESTIONSANSWERS_CONFIG_BASIC_KEY_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_BASIC_KEY_DESC"
			size="60"
			default=""
		/>
	</fieldset>
	<fieldset
		name="media_custom_config"
		label="COM_QUESTIONSANSWERS_CONFIG_MEDIA">

		<!-- Document_formats Field. Type: List. (joomla) -->
		<field
			type="list"
			name="document_formats"
			label="COM_QUESTIONSANSWERS_CONFIG_DOCUMENT_FORMATS_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_DOCUMENT_FORMATS_DESCRIPTION"
			class="list_class"
			multiple="true"
			filter="ARRAY"
			default="">
			<!-- Option Set. -->
			<option value="doc">
				COM_QUESTIONSANSWERS_CONFIG_DOC</option>
			<option value="docx">
				COM_QUESTIONSANSWERS_CONFIG_DOCX</option>
			<option value="odt">
				COM_QUESTIONSANSWERS_CONFIG_ODT</option>
			<option value="pdf">
				COM_QUESTIONSANSWERS_CONFIG_PDF</option>
			<option value="csv">
				COM_QUESTIONSANSWERS_CONFIG_CSV</option>
			<option value="xls">
				COM_QUESTIONSANSWERS_CONFIG_XLS</option>
			<option value="xlsx">
				COM_QUESTIONSANSWERS_CONFIG_XLSX</option>
			<option value="ods">
				COM_QUESTIONSANSWERS_CONFIG_ODS</option>
			<option value="ppt">
				COM_QUESTIONSANSWERS_CONFIG_PPT</option>
			<option value="pptx">
				COM_QUESTIONSANSWERS_CONFIG_PPTX</option>
			<option value="pps">
				COM_QUESTIONSANSWERS_CONFIG_PPS</option>
			<option value="ppsx">
				COM_QUESTIONSANSWERS_CONFIG_PPSX</option>
			<option value="odp">
				COM_QUESTIONSANSWERS_CONFIG_ODP</option>
			<option value="zip">
				COM_QUESTIONSANSWERS_CONFIG_ZIP</option>
		</field>
		<!-- Image_formats Field. Type: List. (joomla) -->
		<field
			type="list"
			name="image_formats"
			label="COM_QUESTIONSANSWERS_CONFIG_IMAGE_FORMATS_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_IMAGE_FORMATS_DESCRIPTION"
			class="list_class"
			multiple="true"
			filter="ARRAY"
			default="">
			<!-- Option Set. -->
			<option value="jpg">
				COM_QUESTIONSANSWERS_CONFIG_JPG</option>
			<option value="jpeg">
				COM_QUESTIONSANSWERS_CONFIG_JPEG</option>
			<option value="gif">
				COM_QUESTIONSANSWERS_CONFIG_GIF</option>
			<option value="png">
				COM_QUESTIONSANSWERS_CONFIG_PNG</option>
		</field>
		<!-- Spacer_hr Field. Type: Spacer. A None Database Field. (joomla) -->
		<field type="spacer" name="spacer_hr" hr="true" class="spacer_hr" />
		<!-- Crop_main Field. Type: Radio. (joomla) -->
		<field
			type="radio"
			name="crop_main"
			label="COM_QUESTIONSANSWERS_CONFIG_CROP_MAIN_LABEL"
			description="COM_QUESTIONSANSWERS_CONFIG_CROP_MAIN_DESCRIPTION"
			class="btn-group btn-group-yesno"
			default="0">
			<!-- Option Set. -->
			<option value="1">
				COM_QUESTIONSANSWERS_CONFIG_YES</option>
			<option value="0">
				COM_QUESTIONSANSWERS_CONFIG_NO</option>
		</field>
		<!-- Main_width Field. Type: Text. (joomla) -->
		<field
			type="text"
			name="main_width"
			label="COM_QUESTIONSANSWERS_CONFIG_MAIN_WIDTH_LABEL"
			size="50"
			maxlength="150"
			class="text_area"
			filter="INT"
			hint="COM_QUESTIONSANSWERS_CONFIG_MAIN_WIDTH_HINT"
			showon="crop_main:1"
			onchange="if(!jQuery(this).val().match(/^\d+$/)){jQuery(this).val('')};"
		/>
		<!-- Main_height Field. Type: Text. (joomla) -->
		<field
			type="text"
			name="main_height"
			label="COM_QUESTIONSANSWERS_CONFIG_MAIN_HEIGHT_LABEL"
			size="50"
			maxlength="150"
			class="text_area"
			filter="INT"
			hint="COM_QUESTIONSANSWERS_CONFIG_MAIN_HEIGHT_HINT"
			showon="crop_main:1"
			onchange="if(!jQuery(this).val().match(/^\d+$/)){jQuery(this).val('')};"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_questionsanswers"
			section="component"
		/>
	</fieldset>
</config>